In [2]:
import pandas as pd
import openpyxl

In [80]:
year_2021 = pd.read_excel('./dados.xlsx', sheet_name='2021')
copy_year_2021 = year_2021.copy()

In [81]:
copy_year_2021

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR
0,01/2/2021 - Segunda,---,01/2/2021 - Segunda,---,---,---,---,---
1,02/2/2021 - Terça,---,02/2/2021 - Terça,---,---,---,---,---
2,03/2/2021 - Quarta,00:00:00,03/02/2021 - Quarta,00:00:00,---,12:00:00,APROVADO,Ver
3,JUSTIFICATIVA,14-02-2021 19:52:01 NÃO ESTAVA COM DIGITAL CAD...,NaN,NaN,NaN,NaN,NaN,NaN
4,04/2/2021 - Quinta,---,04/2/2021 - Quinta,---,---,---,---,---
...,...,...,...,...,...,...,...,...
389,27/12/2021 - Segunda,06:35:00,27/12/2021 - Segunda,18:41:00,12:06:00,---,---,---
390,28/12/2021 - Terça,---,28/12/2021 - Terça,---,---,---,---,---
391,29/12/2021 - Quarta,---,29/12/2021 - Quarta,---,---,---,---,---
392,30/12/2021 - Quinta,18:30:00,31/12/2021 - Sexta,05:48:00,11:18:00,---,---,---
393,31/12/2021 - Sexta,---,31/12/2021 - Sexta,---,---,---,---,---

In [88]:
copy_year_2021['DATA SAÍDA'].fillna('---', inplace=True)

In [96]:
copy_year_2021.fillna({'TRABALHADA': '---'}, inplace=True)
copy_year_2021.fillna({'HORA JUSTIFICADA': '---', 'STATUS': '---'}, inplace=True)

In [97]:
copy_year_2021

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR
0,01/2/2021 - Segunda,---,01/2/2021 - Segunda,---,---,---,---,---
1,02/2/2021 - Terça,---,02/2/2021 - Terça,---,---,---,---,---
2,03/2/2021 - Quarta,00:00:00,03/02/2021 - Quarta,00:00:00,---,12:00:00,APROVADO,Ver
3,JUSTIFICATIVA,14-02-2021 19:52:01 NÃO ESTAVA COM DIGITAL CAD...,---,---,---,---,---,NaN
4,04/2/2021 - Quinta,---,04/2/2021 - Quinta,---,---,---,---,---
...,...,...,...,...,...,...,...,...
389,27/12/2021 - Segunda,06:35:00,27/12/2021 - Segunda,18:41:00,12:06:00,---,---,---
390,28/12/2021 - Terça,---,28/12/2021 - Terça,---,---,---,---,---
391,29/12/2021 - Quarta,---,29/12/2021 - Quarta,---,---,---,---,---
392,30/12/2021 - Quinta,18:30:00,31/12/2021 - Sexta,05:48:00,11:18:00,---,---,---
393,31/12/2021 - Sexta,---,31/12/2021 - Sexta,---,---,---,---,---

In [102]:
data_valid = (copy_year_2021['TRABALHADA'] != '---') | (copy_year_2021['HORA JUSTIFICADA'] != '---') | (copy_year_2021['STATUS'] == 'APROVADO') | (copy_year_2021['DATA ENTRADA'] == 'JUSTIFICATIVA') | (copy_year_2021['DATA ENTRADA'] == 'AVISO')
data_valid

0      False
1      False
2       True
3       True
4      False
       ...
389     True
390    False
391    False
392     True
393    False
Length: 394, dtype: bool

In [104]:
final_data = copy_year_2021[data_valid]

In [105]:
final_data

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR
2,03/2/2021 - Quarta,00:00:00,03/02/2021 - Quarta,00:00:00,---,12:00:00,APROVADO,Ver
3,JUSTIFICATIVA,14-02-2021 19:52:01 NÃO ESTAVA COM DIGITAL CAD...,---,---,---,---,---,NaN
6,06/2/2021 - Sábado,00:00:00,06/02/2021 - Sábado,00:00:00,---,12:00:00,APROVADO,Ver
7,JUSTIFICATIVA,14-02-2021 19:52:54 NÃO ESTAVA COM DIGITAL CAD...,---,---,---,---,---,NaN
10,09/2/2021 - Terça,00:00:00,09/02/2021 - Terça,00:00:00,---,12:00:00,APROVADO,Ver
...,...,...,...,...,...,...,...,...
379,17/12/2021 - Sexta,06:11:00,17/12/2021 - Sexta,18:47:00,12:36:00,---,---,---
383,21/12/2021 - Terça,06:19:00,21/12/2021 - Terça,17:46:00,11:27:00,---,---,---
386,24/12/2021 - Sexta,06:05:00,24/12/2021 - Sexta,18:36:00,12:31:00,---,---,---
389,27/12/2021 - Segunda,06:35:00,27/12/2021 - Segunda,18:41:00,12:06:00,---,---,---
392,30/12/2021 - Quinta,18:30:00,31/12/2021 - Sexta,05:48:00,11:18:00,---,---,---

In [115]:
# Abre o arquivo original
year_2022 = pd.read_excel('./DATA_ORIGIN.xlsx', sheet_name='2022')
year_2022

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR
0,01/1/2022 - Sábado,---,01/1/2022 - Sábado,---,---,---,---,---
1,02/1/2022 - Domingo,---,02/1/2022 - Domingo,---,---,---,---,---
2,03/1/2022 - Segunda,06:16:00,03/01/2022 - Segunda,18:32:00,12:16:00,---,---,---
3,03/1/2022 - Segunda,18:32:00,04/01/2022 - Terça,06:04:00,11:32:00,---,---,---
4,04/1/2022 - Terça,---,04/1/2022 - Terça,---,---,---,---,---
...,...,...,...,...,...,...,...,...
430,27/12/2022 - Terça,---,27/12/2022 - Terça,---,---,---,---,---
431,28/12/2022 - Quarta,---,28/12/2022 - Quarta,---,---,---,---,---
432,29/12/2022 - Quinta,---,29/12/2022 - Quinta,---,---,---,---,---
433,30/12/2022 - Sexta,---,30/12/2022 - Sexta,---,---,---,---,---
434,31/12/2022 - Sábado,---,31/12/2022 - Sábado,---,---,---,---,---

In [129]:
# Faz uma cópia do arquivo original e atribui a variável data
data = year_2022.copy()
data

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR
0,01/1/2022 - Sábado,---,01/1/2022 - Sábado,---,---,---,---,---
1,02/1/2022 - Domingo,---,02/1/2022 - Domingo,---,---,---,---,---
2,03/1/2022 - Segunda,06:16:00,03/01/2022 - Segunda,18:32:00,12:16:00,---,---,---
3,03/1/2022 - Segunda,18:32:00,04/01/2022 - Terça,06:04:00,11:32:00,---,---,---
4,04/1/2022 - Terça,---,04/1/2022 - Terça,---,---,---,---,---
...,...,...,...,...,...,...,...,...
430,27/12/2022 - Terça,---,27/12/2022 - Terça,---,---,---,---,---
431,28/12/2022 - Quarta,---,28/12/2022 - Quarta,---,---,---,---,---
432,29/12/2022 - Quinta,---,29/12/2022 - Quinta,---,---,---,---,---
433,30/12/2022 - Sexta,---,30/12/2022 - Sexta,---,---,---,---,---
434,31/12/2022 - Sábado,---,31/12/2022 - Sábado,---,---,---,---,---

In [190]:
# Atualiza a cópia do dataframe substituindo o conteúdo das colunas
# DATA SAÍDA, SAÍDA, TRABALHADA, HORA JUSTIFICADA e STATUS para uma string '---'
# nas linhas onde a coluna DATA ENTRADA tem a palavra JUSTIFICATIVA
mask = data['DATA ENTRADA'].str.contains('JUSTIFICATIVA')
data.update({
    'DATA SAÍDA': data['DATA SAÍDA'].where(~mask, '---'),
    'SAÍDA': data['SAÍDA'].where(~mask, '---'),
    'TRABALHADA': data['TRABALHADA'].where(~mask, '---'),
    'HORA JUSTIFICADA': data['HORA JUSTIFICADA'].where(~mask, '---'),
    'STATUS': data['STATUS'].where(~mask, '---'),
})

data

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR
0,01/1/2022 - Sábado,---,01/1/2022 - Sábado,---,---,---,---,---
1,02/1/2022 - Domingo,---,02/1/2022 - Domingo,---,---,---,---,---
2,03/1/2022 - Segunda,06:16:00,03/01/2022 - Segunda,18:32:00,12:16:00,---,---,---
3,03/1/2022 - Segunda,18:32:00,04/01/2022 - Terça,06:04:00,11:32:00,---,---,---
4,04/1/2022 - Terça,---,04/1/2022 - Terça,---,---,---,---,---
...,...,...,...,...,...,...,...,...
430,27/12/2022 - Terça,---,27/12/2022 - Terça,---,---,---,---,---
431,28/12/2022 - Quarta,---,28/12/2022 - Quarta,---,---,---,---,---
432,29/12/2022 - Quinta,---,29/12/2022 - Quinta,---,---,---,---,---
433,30/12/2022 - Sexta,---,30/12/2022 - Sexta,---,---,---,---,---
434,31/12/2022 - Sábado,---,31/12/2022 - Sábado,---,---,---,---,---

In [222]:
# Faz a mesma atualização anterior, só que usando o método 'loc'
data.loc[data['DATA ENTRADA'].str.contains('JUSTIFICATIVA') | data['DATA ENTRADA'].str.contains('AVISO'), 
['DATA SAÍDA', 'SAÍDA', 'TRABALHADA', 'HORA JUSTIFICADA', 'STATUS']] = '---'
data

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR,ESTATUS EDITAR
0,01/1/2022 - Sábado,---,01/1/2022 - Sábado,---,---,---,---,---,NaN
1,02/1/2022 - Domingo,---,02/1/2022 - Domingo,---,---,---,---,---,NaN
2,03/1/2022 - Segunda,06:16:00,03/01/2022 - Segunda,18:32:00,12:16:00,---,---,---,NaN
3,03/1/2022 - Segunda,18:32:00,04/01/2022 - Terça,06:04:00,11:32:00,---,---,---,NaN
4,04/1/2022 - Terça,---,04/1/2022 - Terça,---,---,---,---,---,NaN
...,...,...,...,...,...,...,...,...,...
430,27/12/2022 - Terça,---,27/12/2022 - Terça,---,---,---,---,---,NaN
431,28/12/2022 - Quarta,---,28/12/2022 - Quarta,---,---,---,---,---,NaN
432,29/12/2022 - Quinta,---,29/12/2022 - Quinta,---,---,---,---,---,NaN
433,30/12/2022 - Sexta,---,30/12/2022 - Sexta,---,---,---,---,---,NaN
434,31/12/2022 - Sábado,---,31/12/2022 - Sábado,---,---,---,---,---,NaN

In [212]:
# Faz uma cópia do arquivo original e atribui a variável data
data = year_2022.copy()
data

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR
0,01/1/2022 - Sábado,---,01/1/2022 - Sábado,---,---,---,---,---
1,02/1/2022 - Domingo,---,02/1/2022 - Domingo,---,---,---,---,---
2,03/1/2022 - Segunda,06:16:00,03/01/2022 - Segunda,18:32:00,12:16:00,---,---,---
3,03/1/2022 - Segunda,18:32:00,04/01/2022 - Terça,06:04:00,11:32:00,---,---,---
4,04/1/2022 - Terça,---,04/1/2022 - Terça,---,---,---,---,---
...,...,...,...,...,...,...,...,...
430,27/12/2022 - Terça,---,27/12/2022 - Terça,---,---,---,---,---
431,28/12/2022 - Quarta,---,28/12/2022 - Quarta,---,---,---,---,---
432,29/12/2022 - Quinta,---,29/12/2022 - Quinta,---,---,---,---,---
433,30/12/2022 - Sexta,---,30/12/2022 - Sexta,---,---,---,---,---
434,31/12/2022 - Sábado,---,31/12/2022 - Sábado,---,---,---,---,---

In [223]:
# Atualiza a cópia do dataframe substituindo o conteúdo das colunas
# DATA SAÍDA, SAÍDA, TRABALHADA, HORA JUSTIFICADA e STATUS para uma string '---'
# nas linhas onde a coluna DATA ENTRADA tem a palavra JUSTIFICATIVA
data.loc[data['DATA ENTRADA'].str.contains('JUSTIFICATIVA') | data['DATA ENTRADA'].str.contains('AVISO'), 
['DATA SAÍDA', 'SAÍDA', 'TRABALHADA', 'HORA JUSTIFICADA', 'STATUS']] = '---'
data

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR,ESTATUS EDITAR
0,01/1/2022 - Sábado,---,01/1/2022 - Sábado,---,---,---,---,---,NaN
1,02/1/2022 - Domingo,---,02/1/2022 - Domingo,---,---,---,---,---,NaN
2,03/1/2022 - Segunda,06:16:00,03/01/2022 - Segunda,18:32:00,12:16:00,---,---,---,NaN
3,03/1/2022 - Segunda,18:32:00,04/01/2022 - Terça,06:04:00,11:32:00,---,---,---,NaN
4,04/1/2022 - Terça,---,04/1/2022 - Terça,---,---,---,---,---,NaN
...,...,...,...,...,...,...,...,...,...
430,27/12/2022 - Terça,---,27/12/2022 - Terça,---,---,---,---,---,NaN
431,28/12/2022 - Quarta,---,28/12/2022 - Quarta,---,---,---,---,---,NaN
432,29/12/2022 - Quinta,---,29/12/2022 - Quinta,---,---,---,---,---,NaN
433,30/12/2022 - Sexta,---,30/12/2022 - Sexta,---,---,---,---,---,NaN
434,31/12/2022 - Sábado,---,31/12/2022 - Sábado,---,---,---,---,---,NaN

In [224]:
# Finaliza a limpeza dos dados criando um dataframe com o seguintes critérios:
# 1 - Colunas TRABALHADA e HORA JUSTIFICADA difentes de '---'
# 2 - Colunas STATUS igual 'APROVADO' e DATA ENTRADA igual a 'JUSTIFICATIVA'
final_data = data[
    (data['TRABALHADA'] != '---') | (data['HORA JUSTIFICADA'] != '---') 
    |(data['STATUS'] == 'APROVADO')
    |(data['DATA ENTRADA'] == 'JUSTIFICATIVA')
]

final_data

,DATA ENTRADA,ENTRADA,DATA SAÍDA,SAÍDA,TRABALHADA,HORA JUSTIFICADA,STATUS,EDITAR,ESTATUS EDITAR
2,03/1/2022 - Segunda,06:16:00,03/01/2022 - Segunda,18:32:00,12:16:00,---,---,---,NaN
3,03/1/2022 - Segunda,18:32:00,04/01/2022 - Terça,06:04:00,11:32:00,---,---,---,NaN
9,09/1/2022 - Domingo,06:14:00,09/01/2022 - Domingo,18:38:00,12:24:00,---,---,---,NaN
13,13/1/2022 - Quinta,19:06:00,14/01/2022 - Sexta,06:50:00,11:44:00,---,---,---,NaN
21,21/1/2022 - Sexta,00:00:00,21/01/2022 - Sexta,00:00:00,---,00:00:00,APROVADO,Ver,NaN
...,...,...,...,...,...,...,...,...,...
414,JUSTIFICATIVA,"13-12-2022 14:23:48 Plantão de 24 horas, batid...",---,---,---,---,---,NaN,---
416,13/12/2022 - Terça,19:01:00,14/12/2022 - Quarta,06:25:00,11:24:00,---,---,---,NaN
417,14/12/2022 - Quarta,06:25:00,14/12/2022 - Quarta,18:30:00,12:05:00,---,---,---,NaN
420,17/12/2022 - Sábado,18:36:00,18/12/2022 - Domingo,06:31:00,11:55:00,---,---,---,NaN
424,21/12/2022 - Quarta,18:05:00,22/12/2022 - Quinta,06:32:00,12:27:00,---,---,---,NaN

In [225]:
# Gera o arquivo no formato excel.
final_data.to_excel('Dados finais.xlsx', index=False)